@import url("var.css");

/* Banner */
.banner-area {
	display: flex;
}
.banner {
	border: 1px solid var(--border-light);
	border-radius: 5px;
	background: var(--background-light);
	overflow: hidden;
}
.banner--half {
	height: 250px;
	flex: 1;
}
.banner--half:first-child {
	margin-right: 20px;
}

.banner--trees {
	color: #576249;
}
.banner--plants {
	color: #819D60;
}

.banner__title {
	text-align: center;
	line-height: 50px;
	margin: 100px 0;
}