@import url("var.css");

/* Navigation */
.navigation {
	border-bottom: 1px solid var(--border-light);
	background: var(--background-light);
	margin: -20px -20px -100px;
	padding: 25px 20px 0;
}
.nav-text {
	line-height: 50px;
	font-size: 17px;
	margin: 0;
}
/* margin fix */
.container--search {
	margin-bottom: 70px;
}

/* Product */
.container--product {
	border-bottom: 1px dashed var(--border-light);
	padding-bottom: 20px;
	margin: 20px 0 50px;
}
.product-photo {
	border: 1px solid var(--border-light);
	border-radius: 5px;
	height: calc((100vw - 40px) * 0.4);
	width: calc((100vw - 40px) * 0.4);
	max-height: calc(1000px * 0.4);
	max-width: calc(1000px * 0.4);
	background: var(--background-light);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.product-info {
/* 	height: calc((100vw - 40px) * 0.4); */
/* 	max-height: calc(1000px * 0.4); */
	width: calc((100vw - 40px) * 0.6 - 20px);
	max-width: calc(1000px * 0.6 - 20px);
	display: inline-block;
	vertical-align: top;
}
.product-info__title {
	border-bottom: 1px dashed var(--border-light);
	text-transform: uppercase;
	word-wrap: break-word;
	white-space: normal;
	padding-bottom: 10px;
	margin: 0 0 10px;
	font-size: 35px;
}
.product-info__price {
	color: var(--grey-light);
	margin: 10px 0;
}
.product-info__p {
	margin-top: 10px;
	word-wrap: break-word;
	white-space: normal;
	font-size: 17px;
}
.button {
	box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.15);
	border: 1px solid var(--border-light);
	background-color: white;
	border-radius: 5px;
	font-family: 'Finlandica', sans-serif;
	line-height: 25px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px 20px;
}
.button--buy {
	background: var(--green-light);
	color: var(--green-dark);
	margin-right: 10px;
}
.button--cart {
	background: var(--background-light);
}