@import url("var.css");

/* Container */
.container--product {
	border-bottom: none;
}

.title--entry {
	text-transform: uppercase;
	line-height: 35px;
	margin: 15px 0 0;
}
.title--entry:first-of-type {
	margin-top: -9px;
}
.input--entry {
	font-family: 'Finlandica', sans-serif;
	border: 1px solid var(--border-light);
	color: var(--grey-dark);
	background: #FFFFFF;
	border-radius: 5px;
	min-height: 30px;
	padding: 10px;
	width: calc(100% - 20px - 2px);
}
.input--entry::placeholder {
	color: var(--grey-light);
}
.input--entry__title {
	letter-spacing: -1px;
	font-weight: 600;
	font-size: 35px;
}
.input--entry__price {
	color: var(--grey-light);
	font-weight: 600;
	font-size: 20px;
}
.input--entry__url {
	font-size: 17px;
}
.input--entry__desc {
	min-height: 80px;
	resize: vertical;
	word-wrap: break-word;
	white-space: normal;
	font-size: 17px;
}

.product-info__button-area--entry {
	margin-top: 20px;
}