:root {
  --green-light: #AFFF50;
  --green-dark: #365216;
  --grey-light: #C4C4C4;
  --grey-dark: #6D6D6D;
  
  --background-light: #FAFAFA;
  --border-light: #DDDDDD;
  
  --grid-child-width-1: 184px;
}